.carousel-container {
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 0 10px;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-item {
    min-width: 100%;
    scroll-snap-align: center;
    border-radius: 10px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
